<!-- ** BEGIN Cell Phone AREA -->
<div class="panel panel-default" data-bind="" id="CellPhone">
    <div class="panel-heading">
        Cell
        <div class="form-group pull-right">
            <input data-bind="checked: cellisprimary, event: { change: cellprimarychange }" name="CellIsPrimary" type="checkbox">
            @Html.Label("PrimaryCell", "Is Primary")
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("CellPhoneNumber", "Phone Number")
                    @Html.TextBox("Cell", "", new {@class = "form-control", data_bind = "value:cellphonenumber"})
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("CellCountry", "Country")
                    <select class="form-control" data-bind="value: cellcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("Carrier", "Carrier")
                    @Html.Label("AllowText", "Allow Text", new {@class = "form-control, pull-right"})
                    <input data-bind="checked: cellaccepttext, " name="AllowText" type="checkbox" class="pull-right">
                    <select class="form-control" data-bind="value: cellcarrier, options: mobilecarriers, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ** END Cell Phone AREA -->