<!-- ** BEGIN Mailing Address AREA -->
<form>
    <div class="row">
        <div class="small-1 columns">
            <div class="form-group">
                @Html.Label("Mailing", "Mailing")
            </div>
        </div>
        <div class="small-4 columns end">
            <div class="form-group">
                <input data-bind="checked: placeUseMailingforShipping, event: { change: DefaultPlaceShipping.Set }" name="issystem" type="checkbox">
                @Html.Label("SameAddress", "Use For Shipping")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <label>
                Address1
                @Html.TextBox("Address1", "", new {@class = "form-control", data_bind = "value:placemailingaddress1"})
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Address2
                @Html.TextBox("Address1", "", new {@class = "form-control", data_bind = "value:placemailingaddress2"})
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Postal Code
                @Html.TextBox("Postal", "", new {@class = "form-control", data_bind = "value:placemailingpostalcode"})
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <label>
                City
                @Html.TextBox("City", "", new { @class = "form-control", data_bind = "value:placemailingcity" })
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                State/Province
                <select class="form-control" data-bind="value: placemailingstateprovinceid, options: statesprovinces, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Country
                <select class="form-control" data-bind="value: placemailingcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
    </div>
</form>
<!-- ** END Mailing Address AREA -->