<!-- ** BEGIN Mailing Address AREA -->
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.Label("Mailing", "Mailing")
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group pull-right">
            <input data-bind="checked: placeUseMailingforShipping, event: { change: DefaultPlaceShipping.Set }" name="issystem" type="checkbox">
            @Html.Label("SameAddress", "Use For Shipping")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Address1", "Address1")
            @Html.TextBox("Address1", "", new {@class = "form-control", data_bind = "value:placemailingaddress1"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Address2", "Address2")
            @Html.TextBox("Address2", "", new {@class = "form-control", data_bind = "value:placemailingaddress2"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Country", "Country")
            <select class="form-control" data-bind="value: placemailingcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Postal", "Postal")
            <a class="btn btn-sm btn-secondary pull-right" data-bind="click: cancel" href="#" type="button">
                Verify
            </a>
            @Html.TextBox("Postal", "", new {@class = "form-control", data_bind = "value:placemailingpostalcode"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("City", "City")
            @Html.TextBox("City", "", new {@class = "form-control", data_bind = "value:placemailingcity"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("State", "State")
            <select class="form-control" data-bind="value: placemailingstateprovince, options: statesprovinces, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
        </div>
    </div>
</div>
<!-- ** END Mailing Address AREA -->