<!-- ** BEGIN Shipping Address AREA -->
<form>
    <div class="row">
        <div class="small-1 columns end">
            <div class="form-group">
                @Html.Label("Shipping", "Shipping")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <label>
                Address1
                @Html.TextBox("Address1", "", new { @class = "form-control", data_bind = "value:placeshippingaddress1" })
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Address2
                @Html.TextBox("Address1", "", new { @class = "form-control", data_bind = "value:placeshippingaddress2" })
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Postal Code
                @Html.TextBox("Postal", "", new { @class = "form-control", data_bind = "value:placeshippingpostalcode" })
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <label>
                City
                @Html.TextBox("City", "", new { @class = "form-control", data_bind = "value:placeshippingcity" })
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                State/Province
                <select class="form-control" data-bind="value: placeshippingstateprovinceid, options: statesprovinces, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Country
                <select class="form-control" data-bind="value: placeshippingcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
    </div>
</form>
<!-- ** END Shipping Address AREA -->