<!-- ** BEGIN Shipping Address AREA -->
<div class="panel panel-default" id="ShippingAddress">
    <div class="panel-heading">
        Shipping Address
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("Address1", "Address1")
                    @Html.TextBox("Address1", "", new {@class = "form-control", data_bind = "value:shippingaddress1"})
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("Address2", "Address2")
                    @Html.TextBox("Address2", "", new {@class = "form-control", data_bind = "value:shippingaddress2"})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("Postal", "Postal")
                    <a class="btn btn-sm btn-secondary pull-right" data-bind="click: cancel" href="#" type="button">
                        Verify
                    </a>
                    @Html.TextBox("Postal", "", new {@class = "form-control", data_bind = "value:shippingpostalcode"})
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("Country", "Country")
                    <select class="form-control" data-bind="value: shippingcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("City", "City")
                    @Html.TextBox("City", "", new {@class = "form-control", data_bind = "value:shippingcity"})
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("State", "State")
                    <select class="form-control" data-bind="value: shippingstateprovince, options: statesprovinces, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ** END Shipping Address AREA -->