<!-- ** BEGIN Shipping Address AREA -->
<div class="row">
    <div class="col-sm-5">
        <div class="form-group">
            @Html.Label("Shipping", "Shipping")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Address1", "Address1")
            @Html.TextBox("Address1", "", new {@class = "form-control", data_bind = "value:personshippingaddress1"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Address2", "Address2")
            @Html.TextBox("Address2", "", new {@class = "form-control", data_bind = "value:personshippingaddress2"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Country", "Country")
            <select class="form-control" data-bind="value: personshippingcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Postal", "Postal")
            @Html.TextBox("Postal", "", new {@class = "form-control", data_bind = "value:personshippingpostalcode"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("City", "City")
            @Html.TextBox("City", "", new {@class = "form-control", data_bind = "value:personshippingcity"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("State", "State")
            <select class="form-control" data-bind="value: personshippingstateprovinceid, options: statesprovinces, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
        </div>
    </div>
</div>
<!-- ** END Shipping Address AREA -->