<!-- ** BEGIN Edit Contact AREA -->
<div class="callout" id="Contact">
    <div class="top-bar">
        <div class="top-bar-title">
            <ul class="menu">
                <li>
                    @Html.Label("Contact", "Contact")
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="small-text-label columns" data-bind="click: Person.Cancel" href="">Cancel</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: SavePerson.ManageSave" href="">Save</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <label>
                First Name
                @Html.TextBox("First", "", new { @class = "form-control", data_bind = "value:personfirst" })
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Middle Name
                @Html.TextBox("Middle", "", new { @class = "form-control", data_bind = "value:personmiddle" })
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Last Name
                @Html.TextBox("Last", "", new { @class = "form-control", data_bind = "value:personlast" })
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <label>
                Email
                @Html.TextBox("Email", "", new { @class = "form-control", data_bind = "value:personemail" })
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Country
                <select class="form-control" data-bind="value: personcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
        <div class="small-4 columns">
            <label>
                Time Zone
                <select class="form-control" data-bind="value: persontimezone, options: timezones, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
    </div>
    <div>
        @{ Html.RenderPartial("Person/Contact/ContactDetail"); }
    </div>
</div>

<!-- ** END Edit Contact AREA -->